

*{
    padding: 0;
    margin: 0;
    border-radius: 0;
    transition: 0.2s;
};

html{
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-image:url("/bilder/runeScapeBackground.jpg") ;
    background-repeat: repeat-y;
    background-size: contain;
}

h1{
    margin-bottom: 1rem;

}

.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    height: 4rem;
    width: 4rem;
    gap: 0.3rem;
    z-index: 1000;
}

.ham-bar{
    display: block;
    background-color: yellow;
    width: 2rem;
    height: 0.2rem;
    margin-right: 10rem;
}


.hamburger.active .bar-top{
    transform: rotate(45deg) translateY(6px) translateX(5px);
    
}


.hamburger.active .bar-mid{
    opacity: 0;
}

.hamburger.active .bar-bottom{
    transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.navbar{

    width: 0%;
    height: 100vh;
    background-image:url("/bilder/runeScapeBackground.jpg") ;
    background-repeat: repeat-y;
    background-size: contain;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.activeNav{
    width: 100%;
    background-color: white;
}

.navbar-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    opacity: 0;
}
.activeNav .navbar-ul{
    opacity: 1;
}

.navbar-item{
    text-decoration: none;
    color: yellow;
}

.navbar-item:hover{
    text-decoration: underline;
}


.product-img{
    height: 100px;
    width: 100px;
}


.text-color{
    color: yellow;
    width: 50%;
    text-decoration: none;
}

.text-decoration:hover{
    text-decoration: underline;
}

.fullPost{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
  height: auto;
  width: 80%;
}
img{
    height: auto;
    width: 100%;
}
.cards{
    margin-top: 5%;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}


.carousel{
    margin-top: 1rem;
    display: grid;
    font-size: x-small;
    grid-auto-flow: column;
    grid-auto-columns: 38%;
    width: 35vw;
    overflow-x: hidden;
    overscroll-behavior-inline: contain;
    object-position: center;
    scroll-behavior: smooth;
}
.carousel h1{
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.carousel-button-next, .carousel-button-prev{
    position: relative;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding:0 .5rem;
    width: 2.5rem;
    margin-bottom: 1rem;
}

.carousel-button:hover,
.carousel-button:focus{
    color: white
    
}

.carousel-button.prev{
    display: block;
    left: 1rem;
}
.carousel-button.next{
    display: block;
    right: 1rem;
}

.submit{
    width: 100px;
    height: 30px;
}

.submit:hover{
text-transform: capitalize;
}

.aboutMe{
    margin-bottom: 10rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  input[type="email"],
  textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  input[type="message"],
  textarea {
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: white;
    border: none;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
  }
 
#errorContainer{
    display: flex;
    gap: 1rem;
}

.wp-img-13{
    width: 100%;
    size: auto;
}

.loadMore{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    background: none;
    border: none;
    color: yellow;
}

.loadMore:hover{
    cursor: pointer;
    text-decoration: underline;
}

.has-large-font-size{
    margin-bottom: 3rem;
}

.makeGap{
    margin-bottom: 1rem;
}

a{
    font-size: large;
}

@media (max-width: 800px) {
    .carousel-button-next,
    .carousel-button-prev {
      display: none;
    }

    .carousel{
        margin-top: 1rem;
        display: grid;
        font-size: x-small;
        grid-auto-columns: 50%;
        width: 36vw;
        overflow-x:auto;
        padding: 1rem;
    }
  }

  .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 1rem;

}
.reSize{
    margin-top: 3rem;
    font-size:medium;
}


  h2{
    font-size: small;
  }
  h4{
    font-size: smaller;
  }
  p{
    font-size: small;
  }
 

@media (max-width: 600px) {
    .cards{
        margin-top: 5%;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 2rem;
    }
    h1 {
        font-size:medium;
    }

}

@media (min-width: 1600px) {

      h2{
        font-size:medium ;
      }
      h4{
        font-size: medium;
      }
      p{
        font-size:large;
      }
}






